.appContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.contentContainer {
  z-index: 1;
  height: calc(100% - var(--navHeight));
  display: flex;
  flex-direction: column;
}

.videoCanvas {
  position: fixed;
}

.videoEnd {
  height: 300vh;
}

.logoSvgContainer {
  position: absolute;
  top: 500px;
  width: 100%;
}

.wandererHero {
  margin: 0 auto;
}
