.appContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.contentContainer {
  z-index: 1;
  height: calc(100% - var(--navHeight));
  display: flex;
  flex-direction: column;
}

.videoCanvas {
  position: fixed;
}

.videoEnd {
  height: 300vh;
}

.logoSvgContainer {
  position: fixed;
  width: 100%;
}

.wandererHero {
  margin: 0 auto;
}

.bannersContainer {
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px 0;
}

.bannerLeft,
.bannerRight {
  height: 100px;
  width: 45%;
  background: var(--lightLime);
  border: none;
}

.bannerLeft {
  border-radius: 0 50px 50px 0;
}

.bannerRight {
  border-radius: 50px 0 0 50px;
}