.appContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.contentContainer {
  z-index: 1;
  height: calc(100% - var(--navHeight));
  display: flex;
}

.videoCanvas {
  position: fixed;
}

.videoEnd {
  height: 500vh;
}