:root {
  --lightLime: #d0f0c0;
  --lime: #b2ec5d;
  --limePop: #a3f02f;
  --blue: #6082b6;
  --space: #4a646c;
  --deepSpace: #2a3439;
  --compText: #6C524A;
  --navHeight: max(6vh, 60px);
}

.layoutSpacer {
  height:var(--navHeight);
}

.layoutContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: var(--navHeight);
  width: 100%;
  font-size: x-large;
  flex: 0 1 var(--navHeight);
  z-index: 2;
}

.navContainer {
  width: 100%;
  height: 100%;
}

.nav {
  background-color: var(--lightLime);
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.navLink {
  background-color: var(--lime);
  padding: 0 1em;
  margin: 0 10px;
  text-decoration: none;
  color: var(--compText);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  border-radius: 25px;
}

.authContainer {
  background: var(--lime);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100px;
}

.authPopOut {
  background: var(--lime);
  position: absolute;
  right: 0;
  border-radius: 5px 0 5px 5px;
  overflow: hidden;
  top: var(--navHeight);
  transform: scaleY(0);
  transform-origin: top right;
  content-visibility: auto;
}

.authForm {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  color: var(--compText);
}

.milliButton {
  border-radius: 0;
  background: var(--lime);
  color: var(--compText);
}

.authToggle {
  height: 100%;
  width: 100px;
  border: none;
}

.loginButton {
  border: 2px solid var(--space);
  height: 45px;
  margin-top: 5px;
  width: 100%;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formFieldset {
  border: none;
}